<h2>Todo List</h2>
<ul>
  <li *ngFor="let task of tasks">
    <ng-container *ngIf="task.isUpdated===false;else editForm">
      {{ task.title }}
      <button (click)="task.isUpdated=true">Edit</button>
      <button (click)="removeTask(task.id)">Delete</button>
      <div [ngStyle]="{'background-color': task.isCompleted ? 'green' : ''}">
      <input type="checkbox"  name="subscribe" (click)="task.isCompleted=!task.isCompleted" />
    </div>
    </ng-container>
    <ng-template #editForm>
      <form (submit)="editTask(task.id)">
        <input [(ngModel)]="editedTaskName" name="editedTaskName">
        <button type="submit" >Save</button>
      </form>
    </ng-template>
  </li>
</ul>


